<article class="jumbotron">
  <h1>Super Proyecto para aprobar el curso.</h1>
  <a class="btn btn-success btn-lg" href='<%= new_user_session_path %>'>Ingresa</a>
  <a class="btn btn-primary btn-lg" href='<%= new_user_registration_path %>'>Regístrate</a>
</article>